@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@melony/ui-shadcn/style.css";

@source "../node_modules/@melony/ui-shadcn/dist/**/*.{js,ts,jsx,tsx}";

@layer base {
  .logo {
    @apply text-2xl font-bold font-['Raleway'];
  }
  body {
    @apply font-sans bg-background text-foreground h-screen w-screen;
  }
  #root {
    @apply h-screen w-screen;
  }
  html {
    @apply font-sans;
  }
}
